{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Nombre de usuario y contraseña no coinciden. Intentelo de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene permiso para acceder a esta página. Para seguir , inicia sesión con una cuenta que pueda acceder.</p>
    {% else %}
    <p>Inicia sesión para ver está página.</p>
    {% endif %}
{% endif %}
<div class="vacio">oigehrobgih</div>
<div  class="alcentro">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}


<div >
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div >
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">¿Olvidaste la contraseña?</a></p>

{% endblock %}