.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bg-dark {
    background-color: red;
}

.navbar-expand {
    
}

.pruebaso {
    background-color: red;
}
nav, a {

}
.navbar-link {
    display: inline-flex;
}