
.sidebar-nav {
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;

border-top: red 3px solid;

}

li a {
	color: green;
}

body { 
	background: white url("images/descarga.jpeg") no-repeat;
	background-position: 1000px;
}